#cloud-config
users:
  - name: ansible
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      # ТУТ ВСТАВ СВІЙ ПУБЛІЧНИЙ SSH КЛЮЧ (~/.ssh/id_rsa.pub)
      - ssh-rsa AAAAB3NzaC1yc...