[Unit]
Description=MyWebApp Node.js Application Container
After=docker.service mariadb.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop mywebapp-app
ExecStartPre=-/usr/bin/docker rm mywebapp-app

ExecStart=/usr/bin/docker run --name mywebapp-app -p 5200:5200 --add-host=db:127.0.0.1 ghcr.io/taitami/task-tracker/mywebapp:latest

[Install]
WantedBy=multi-user.target